[submodule ".registry"]
	path = .registry
	url = https://github.com/tejas4patel/tejas4patel.r-universe.dev
	branch = HEAD
[submodule "dragonfarm"]
	path = dragonfarm
	url = https://github.com/tejas4patel/dragon-farm
